_freeze/
_print/
_slides/
_web/
.quarto/
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.temp/
**/*.quarto_ipynb
/.luarc.json
/.quarto/
index.aux
index.bbl
index.bcf
index.blg
index.idx
index.ilg
index.ind
index.lof
index.log
index.lot
index.pdf
index.run.xml
index.tex
index.toc
