on:
  push:
    branches: [main, master]

name: quarto-render.yaml
permissions: read-all

jobs:
  quarto-render:
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, version: 'release'}
          - {os: macos-latest, version: 'release'}
          - {os: ubuntu-latest, version: 'release'}
    name: "${{ matrix.config.os }} (${{ matrix.config.version }})"
    runs-on: ${{ matrix.config.os }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions: read-all
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install fonts (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          mkdir -p ~/.fonts
          cp ttf/*.ttf ~/.fonts/
          fc-cache -f -v

      - name: Install fonts (macOS)
        if: runner.os == 'macOS'
        run: |
          cp ttf/*.ttf ~/Library/Fonts/

      - name: Install fonts (Windows)
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          $fonts = Get-ChildItem -Path ttf -Filter *.ttf
          foreach ($font in $fonts) {
            $fontPath = $font.FullName
            $fontName = $font.Name
            Copy-Item -Path $fontPath -Destination "C:\Windows\Fonts\$fontName" -Force
            New-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Fonts" -Name $fontName -Value $fontName -PropertyType String -Force | Out-Null
          }

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          # Install system dependencies

          sudo apt-get update -qq

          sudo apt-get install -y -qq \
            libcurl4-openssl-dev \
            libfreetype6-dev \
            libfontconfig1-dev \
            libfribidi-dev \
            libfreetype6-dev \
            libharfbuzz-dev \
            libjpeg-dev \
            libnode-dev \
            libpng-dev \
            libtiff5-dev \
            libudunits2-dev \
            libwebp-dev \
            libx11-dev \
            pandoc
        shell: bash

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Set up TinyTeX
        uses: r-lib/actions/setup-tinytex@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: ${{ matrix.config.version }}

      - name: Install R dependencies
        run: |
          # Install R dependencies

          options(repos=c(CRAN="https://cloud.r-project.org"))

          install.packages(
            c(
              "rmarkdown",
              "knitr"
            )
          )
        shell: Rscript {0}

      - name: Check if renv is initialized
        id: renv-check
        run: |
          # Check if renv is initialized

          if [ -f "renv.lock" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Set up renv
        if: steps.renv-check.outputs.exists == 'true'
        uses: r-lib/actions/setup-renv@v2

      - name: Install and initialize renv
        if: steps.renv-check.outputs.exists == 'false'
        run: |
          # Install and initialize renv

          options(repos=c(CRAN="https://cloud.r-project.org"))

          install.packages("renv")

          renv::init()
        shell: Rscript {0}

      - name: Render Quarto
        run: |
          # Render Quarto

          quarto render --output-dir "${RUNNER_TEMP}/abnt"
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: quarto-render-${{ matrix.config.os }}-${{ matrix.config.version }}
          path: "${{ runner.temp }}/abnt"
          retention-days: 90
